[submodule "linux/linux-kernel"]
	path = linux/linux-kernel
	url = https://github.com/soderstrom-rikard/adi-linux
[submodule "testsuites"]
	path = testsuites
	url = https://github.com/soderstrom-rikard/adi-buildroot-tests
